<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breanna's Blockchain API Prices</title>
    <link rel="stylesheet" href="styles/main.css">
    <script type = "text/javascript">  
        const formatter = new Intl.NumberFormat('en-us',{
            style: 'currency',
            currency: 'USD',
        });    
    </script>  
</head>
<body>
    <h1>Welcome to Breanna's Blockchain API Prices</h1>
    
    <h2>Top 5 Crypto</h2>
    <ul>
        
        <% topFive.forEach((elm) => { %>
            <li><%= elm.symbol %> $<%= elm.price_24h %></li>
        <% }) %>
    </ul>
</body>
</html>