<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breanna's Blockchain API Prices</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <h1>Welcome to Breanna's Blockchain API Prices</h1>
</body>
</html>